<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Username</title>
    <link rel="stylesheet" href="./css/username.css">
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
</head>
<body>
    <div id="container">
        <h1 id="title">Welcome to my expense tracker</h1>
        <button class="login"><a href="/login">Login</a></button>
        <button class="login"><a href="/signup">signup</a></button>
    </div>
    
</body>
</html>